
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color:rgb(85, 249, 222);
}

.homeContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
}

.childContainer {
  width: fit-content;
  height: 200px;
  margin: 40px;
  font-size: 60px;
  font-weight: 900;
}

.pinkColor {
  color: rgb(28, 20, 255);
}