
@tailwind base;
@tailwind components;
@tailwind utilities;

.pageContainer{
  display: inline-flex;
  padding: 10px;
  border: 2px solid white;
  align-items: center ;
  justify-content: space-between ;
}

.parentContainer{
  color: rgba(91, 3, 173, 0.863);
  font-style: italic;
  font-size: 60px;
  font-weight: 900;
  width: fit-content;
  height: 200px;
  margin: 40px;
}

.header{
  background-color: aqua;
  color: rgb(255, 1, 1);
}

.header-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  color: red;

}

.imageContainer{
  display: flex;
  margin-left: 5px auto;
  height: 250px;
  width: 250px;
  padding: 10px;
}

.footer{
  background-color: rgb(68, 241, 212);

  color: black;
  position: absolute ;
  left: 0%;
  bottom: 0%;
  right: 0%;
  justify-content: center;
  align-items: center;
  display:flex;
  gap: 50px ;
}

.footer-buttons{
  display: flex;
  color: red;
  justify-content: center;
  align-items: center;
  gap: 30px;
}